build/
DerivedData
Pods/

!Podfile.lock
!Manifest.lock

.DS_Store
*~
*.swp
*.rbc

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
*.xccheckout
profile
!scripts/profile
*.moved-aside
*.hmap
*.ipa
Tests/Pods
Tests/Podfile.lock
