<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>build.version</key>
	<string>0.8.0-SNAPSHOT</string>
	<key>build.commit_hash</key>
	<string>566fc649a534f4ee1b9326fe8c5f6637359e58fb</string>
	<key>transport.poll.initial_delay</key>
	<string>0</string>
	<key>transport.poll.period</key>
	<string>10</string>
	<key>transport.poll.unit</key>
	<string>1</string>
	<key>transport.bootstrap.servers</key>
	<string>1\:1456013202\:1\:MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAh//Ocexwg+gkGdsL6spS9O2wCtYNHBClaIDan6QrtXVRW7rbKIljMv5YpiLhHa8HzrYgIQkbfvk+37q3ohjsvGkZJPHbGJnZvB/d2nOy7uVp9iRF8jROmnbB5XxORMEh9zO/7alYjkdz3FS/ZA1aQz3NotXqPiq3Grpd+zo5xUsQFmeSeReh54TwvS/XdGT3O7jSaO+g4k5J7mMQGu1TSazulRx7IEKwl7/AQSt9hCfUYtqpU3icY3rzolz2Eb3kth7rZ39D9jd2LafbgGIxN6bnhF4wtAd4f37fYzxk4oklNFTOf/5JtjgGRZhs4wqpQiKoAD7KXc/AgCnFzmwh9QIDAQAB</string>
	<key>state.file_location</key>
	<string>state.properties</string>
	<key>sdk_token</key>
	<string>O7D+oECY1jhs6qIK8LA0zdaykmQ=</string>
</dict>
</plist>
